<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('partials/head') %>
  </head>
  <body>
    <%-include('partials/nav')%>
    <p><%= special %></p>
    <img src="apple-1-logo-png-transparent.png" alt="">
    
      </div>
  </body>
</html>